<a href="https://colab.research.google.com/github/TulipAggarwal/Learning-Pandas/blob/main/Operations_on_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Making changes to the data ‚å®

In [3]:
import pandas as pd
df = pd.read_csv("/content/sample_data/data_set.csv")

#Creating a column which is total of all parameter based columns named - Total
df["Total"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]
df.head(5) #We will see the addition of a column Total in the end of the table

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [16]:
#Dropping columns
df = df.drop(columns=["Legendary"])

In [18]:
#Adding columns
df["Total"] = df.iloc[:,4:10].sum(axis=1) #If we want sum to be vertical we specify 1 if we want it horizontal we specify 0

In [20]:
#Making the columns as a list value
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,309